/* music-profile.component.scss */
.container {
  padding: 16px;
  background: linear-gradient(#1a1a2e, #16213e);
  color: white;
  font-family: "Arial", sans-serif;
  height: 100%;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .back-icon {
    align-self: flex-start;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid #fff;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .profile-info h2 {
    margin: 0;
  }

  .stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    opacity: 0.7;
  }

  .actions {
    display: flex;
    gap: 10px;

    .shuffle,
    .follow,
    .edit-profile {
      padding: 10px 20px;
      border-radius: 25px;
      font-weight: bold;
      cursor: pointer;
    }

    .shuffle {
      background-color: #00f2ff;
      color: #000;
    }

    .follow {
      border: 1px solid #fff;
    }

    .edit-profile {
      border: 1px solid #fff;
    }
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  span {
    opacity: 0.6;
    cursor: pointer;
  }

  .active-tab {
    font-weight: bold;
    opacity: 1;
  }
}

.song-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .song {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 12px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .song-info {
      flex-grow: 1;
      margin-left: 10px;

      h4 {
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 12px;
        opacity: 0.7;
      }
    }

    .icon {
      font-size: 20px;
    }

    &.playing {
      background-color: rgba(0, 255, 255, 0.1);
    }
  }
}
