.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #181818;
}
.chat-header {
  padding: 1rem;
  background: #222;
  color: #fff;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #333;
}
.back-icon {
  align-self: flex-start;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
}
.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.my-message {
  align-self: flex-end;
  background: #00f2ea;
  color: #222;
  border-radius: 18px 18px 4px 18px;
  padding: 0.5rem 1rem;
  max-width: 60%;
  margin-bottom: 0.2rem;
}
.other-message {
  align-self: flex-start;
  background: #333;
  color: #fff;
  border-radius: 18px 18px 18px 4px;
  padding: 0.5rem 1rem;
  max-width: 60%;
  margin-bottom: 0.2rem;
}
.nickname {
  font-size: 0.8em;
  color: #00f2ea;
  margin-right: 0.5em;
}
.message-time {
  font-size: 0.7em;
  color: #aaa;
  text-align: right;
}
.chat-input {
  display: flex;
  padding: 1rem;
  background: #222;
  border-top: 1px solid #333;
}
.chat-input input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  margin-right: 0.5rem;
  background: #333;
  color: #fff;
}
.chat-input button {
  background: #00f2ea;
  color: #222;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
