ion-tab-bar{
    background-color: black !important;
}
ion-tab-button{
    background-color: black !important;
}

ion-content {
    /* leave space for the fixed mini-player */
    padding-bottom: 80px;
}