
<ion-tabs #tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/home/system/home']">
      <img [src]="homeSVG" alt="plays" width="30px" height="30px" />
    </ion-tab-button>
    <ion-tab-button tab="search" [routerLink]="['/home/system/search']">
      <img [src]="searchv2SVG" alt="plays" width="30px" height="30px" />
    </ion-tab-button>
    <ion-tab-button tab="message" [routerLink]="['/home/system/message']">
      <img [src]="messageSVG" alt="plays" width="30px" height="30px" />
    </ion-tab-button>
    <ion-tab-button tab="account" [routerLink]="['/home/system/account']">
      <img [src]="accountSVG" alt="plays" width="30px" height="30px" />
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>