<div class="gradient-background">
  <h3 class="title-access">Desuka App</h3>

  <div class="mt-5 search-bar" [formGroup]="searchForm">
    <img [src]="iconSVGSearch" width="30px" height="30px" alt="search" (click)="searchMusic()" />
    <input type="text" formControlName="search" placeholder="Buscar canciones, artistas o álbumes" />
    <img [src]="iconSVGMicrophone" width="30px" height="30px" alt="microphone" (click)="openVoiceSearch()" />
  </div>

  <div class="section-list">
    <h1 class="title">Música destacada para ti</h1>

    <div class="page">
      <div class="section">
        <div class="carousel">
          <div class="card" *ngFor="let playlist of presenter.searchResults; let i = index"
            (click)="presenter.sendTrackPlayer(presenter.searchResults, i, playlist)">
            <img [src]="playlist.coverImage" alt="playlist image" />
            <div class="text">{{ playlist.title }}</div>
          </div>
        </div>
      </div>

      <div class="categorias-container">
        <h2 class="titulo">Categorías</h2>

        <div class="categorias-grid" *ngIf="presenter.listCategory && presenter.listCategory.length > 0">
          <div class="categoria" style="background-image: url('{{category.image}}')" *ngFor="let category of presenter.listCategory">
            <div class="categoria-texto">{{category.name}}</div>
          </div>
        </div>

        <div class="ver-mas-container mb-5">
          <button class="ver-mas-btn">Ver más...</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-music *ngIf="
    presenter.showCompleteMusic &&
    presenter.playlist.length !== 0 &&
    presenter.statusPlayer === 'minimized'
  "></app-music>

<ion-modal *ngIf="presenter.showCompleteMusic" [keepContentsMounted]="true" trigger="open-modal" #modal
  (willDismiss)="presenter.closeMusicComplete($event)">
  <ng-template>
    <app-player-music [playlist]="presenter.playlist" [indexMusic]="presenter.indexMusic"></app-player-music>
  </ng-template>
</ion-modal>