.gradient-background {
    min-height: 100vh;
    background: linear-gradient(to bottom, #8e2de2, #000000);
    display: 100dvh;
    flex-direction: column;
    align-items: center;
    padding: 2.5em;

    .title-access {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }

    .search-bar {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        border: 2px solid white;
        border-radius: 1rem;
        padding: 0 1.5rem;
        background-color: #3D3D4B94;
        color: white;
     
        i {
            font-size: 1.5rem;
            margin: 0 0.5rem;
        }

        input {
            flex: 1;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            font-size: 1.1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-left: 1rem;
    
            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
                font-size: 1.1rem;
            }
        }
    }

    .section-list{

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: start;
        }
        .carrousel{

        }
    }

    .lofi-carousel {
        ion-slide {
          display: flex;
          flex-direction: row;
          justify-content: center;
      
          .card {
            background: white;
            border-radius: 16px;
            overflow: hidden;
            width: 220px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
      
            &:hover {
              transform: scale(1.02);
            }
      
            img {
              width: 100%;
              height: 160px;
              object-fit: cover;
            }
      
            .title {
              font-weight: bold;
              padding: 12px;
              font-size: 1.1rem;
            }
          }
        }
      }
      
}

