<div class="gradient-background">
  <h3 class="title-access">Desuka App</h3>

  <div class="mt-5 search-bar" [formGroup]="searchForm">
    <img [src]="iconSVGSearch" width="30px" height="30px" alt="search" (click)="searchMusic()" />
    <input type="text" formControlName="search" placeholder="Buscar canciones, artistas o álbumes" />
    <img [src]="iconSVGMicrophone" width="30px" height="30px" alt="microphone" (click)="openVoiceSearch()" />
  </div>

  <div class="section-list">
    <h1 class="title">Música destacada para ti</h1>

    <ion-button expand="block" (click)="presenter.sendTrackPlayer()">Haga click</ion-button>
    <ion-button expand="block" (click)="presenter.sendTrackPlayer2()">Haga click2</ion-button>

  </div>

</div>

<app-music  *ngIf="presenter.showCompleteMusic && presenter.playlist.length !== 0 && presenter.statusPlayer === 'minimized'"></app-music>

<ion-modal *ngIf="presenter.showCompleteMusic" [keepContentsMounted]="true" trigger="open-modal" #modal
  (willDismiss)="presenter.closeMusicComplete($event)">
  <ng-template>
    <app-player-music [playlist]="presenter.playlist"></app-player-music>
  </ng-template>
</ion-modal>